@page "/header"
@using Microsoft.AspNetCore.Components

<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <a class="navbar-brand" href="/">
            <img src="https://via.placeholder.com/150x50" alt="My eCommerce Logo" class="logo" />
        </a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @navbarCollapseClass" id="navbarNav">
            <form class="d-flex mx-auto">
                <div class="input-group search-group">
                    <input class="form-control search-bar" type="search" placeholder="Search for products" aria-label="Search" />
                    <button class="btn btn-outline-light search-btn" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" @onclick="ToggleAccountDropdown">
                        <i class="fa fa-user"></i> <span class="d-none d-md-inline">Account</span>
                    </a>
                    @if (showAccountDropdown)
                    {
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/profile"><i class="fa fa-user-circle"></i> Profile</a></li>
                            <li><a class="dropdown-item" href="/orders"><i class="fa fa-box"></i> Orders</a></li>
                            <li><a class="dropdown-item" href="/cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                            <li><a class="dropdown-item text-danger" href="/logout"><i class="fa fa-sign-out-alt"></i> Logout</a></li>
                        </ul>
                    }
                </li>
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" @onclick="ToggleLanguageDropdown">
                        <i class="fa fa-globe"></i> <span>@currentLanguage</span>
                    </a>
                    @if (showLanguageDropdown)
                    {
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="#" @onclick="ChangeToEnglish">
                                    <i class="fa fa-flag-usa"></i> English
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" @onclick="ChangeToArabic">
                                    <i class="fa fa-flag"></i> Arabic
                                </a>
                            </li>
                        </ul>
                    }
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="badge bg-danger">3</span>
                    </a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/offers">
                        <i class="fa fa-tags"></i> Offers
                    </a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/help">
                        <i class="fa fa-question-circle"></i> Help
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container">
            <div class="collapse navbar-collapse" id="categoryNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" @onclick="ToggleCategoryDropdown">
                            Categories
                        </a>
                        @if (showCategoryDropdown)
                        {
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/category/electronics">Electronics</a></li>
                                <li><a class="dropdown-item" href="/category/fashion">Fashion</a></li>
                                <li><a class="dropdown-item" href="/category/home">Home</a></li>
                                <li><a class="dropdown-item" href="/category/toys">Toys</a></li>
                                <li><a class="dropdown-item" href="/category/books">Books</a></li>
                            </ul>
                        }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/offers">Offers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

@code {
    private bool showAccountDropdown = false;
    private bool showLanguageDropdown = false;
    private bool showCategoryDropdown = false;
    private string currentLanguage = "EN";
    private string navbarCollapseClass = "collapse";

    private void ToggleNavbar()
    {
        navbarCollapseClass = navbarCollapseClass == "collapse" ? "collapse show" : "collapse";
    }

    private void ToggleAccountDropdown()
    {
        showAccountDropdown = !showAccountDropdown;
        showLanguageDropdown = false; // Hide other dropdowns
        showCategoryDropdown = false;
    }

    private void ToggleLanguageDropdown()
    {
        showLanguageDropdown = !showLanguageDropdown;
        showAccountDropdown = false; // Hide other dropdowns
        showCategoryDropdown = false;
    }

    private void ToggleCategoryDropdown()
    {
        showCategoryDropdown = !showCategoryDropdown;
        showAccountDropdown = false; // Hide other dropdowns
        showLanguageDropdown = false;
    }

    private void ChangeToEnglish()
    {
        currentLanguage = "EN";
        // Implement your language switching logic here
    }

    private void ChangeToArabic()
    {
        currentLanguage = "AR";
        // Implement your language switching logic here
    }
}
